.detail-h3{
letter-spacing: -1px !important;
font-size:17px !important;  
  white-space: nowrap;     /* 한 줄 유지 */
  overflow: hidden;        /* 넘치는 글자 숨김 */
  text-overflow: ellipsis; /* ... 표시 */ 
}
.detail-h1{
color: var(--Base-100, #000);
/* P2/SemiBold */
font-family: "Pretendard Variable";
font-style: normal;
font-weight: 600;
line-height: 24px; /* 141.176% */
letter-spacing: -0.34px;
font-size:17px !important;  
  white-space: nowrap;     /* 한 줄 유지 */
  overflow: hidden;        /* 넘치는 글자 숨김 */
  text-overflow: ellipsis; /* ... 표시 */ 
}
.detail-h4{
color: #848484;
/* P2/SemiBold */
font-family: "Pretendard Variable";
font-style: normal;
font-weight: 400;
line-height:19px; /* 141.176% */
letter-spacing: -0.34px;
font-size:13px !important;  
  white-space: nowrap;     /* 한 줄 유지 */
  overflow: hidden;        /* 넘치는 글자 숨김 */
  text-overflow: ellipsis; /* ... 표시 */ 
}
.detail-h5{
/* P4/Medium */
font-family: "Pretendard Variable";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 23.5px; /* 156.667% */
letter-spacing: -0.3px;
  white-space: nowrap;     /* 한 줄 유지 */
  overflow: hidden;        /* 넘치는 글자 숨김 */
  text-overflow: ellipsis; /* ... 표시 */ 
}